<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- always put your name in your work -->
    <meta name="author" content="Logan Taylor">
    <!-- always label your name with a title -->
    <title>Hackalyst Buzzfeed Quiz Knockoff</title>
    <!-- scale page to fit entire screen, so it properly fills non-desktop devices -->    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- DEV-only for easier refreshing: stop the web browser from ever caching this page or its images -->
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- style for this page -->
    <link rel="stylesheet" href="style.css">
    <!-- interaction for this page, defer loading until after page to allw access to DOM elements -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script defer src="main.js"></script>
</head>
<body>

    <header id="bruh">
        <h1>Hackalyst 2021</h1>
    </header>
    <hr>

    <h2>Check out this sweet quiz :)</h2>

    <div id="app">
        <p v-if="quizName==null">Please choose a quiz! I planned to have more but don't lolz sorry
        </p>
        <select v-model="quizName">
            <option v-for="choice in quizList">{{choice}}</option>
        </select>

        <div v-if="quizName" :style="styled">
            <div id="title">
                <h1>{{quizName}} Quiz</h1>
            </div>

            <div class="res">
                <p id="result" class="typewriter">
                    <!-- blah -->
                </p>
            </div>

            <div id="message" class="res">
                <!-- blah -->
            </div>

            <div id="questions">
                <ol>
                    <!-- remember to store json data in 'questionData'
                    so you can access it -->
                    <li v-for="element in questionData">
                        <p>{{element.question}}</p>
                        <ul class="bubble" :id="element.question">
                            <li v-for="choice in element.choices">
                                <input type="radio" :value="choice" :name="element.question" v-model="element.trueChoice"> {{choice}}
                            </li>
                        </ul>
                        <p id="indyMessage"></p>
                    </li>
                </ol>
                <!-- blah -->
            </div>
        </div>
        <br>
        <button @click="toggleLinks()" style="float: right;">Reset</button>
        <button @click="processAnswers()" style="float: right;">Submit</button>
    </div>







    
    <hr/>
    <footer>
      This website is the sole property of Catalyst Group 5, the coolest group.
    
      <br>
      Duke University, 2021
      <br>
    </footer>
    
    
</body>
</html>
